<div class="tab-pane bulkrax-nav-tab-table-left-align" >
  <table id='importer-show-table' class='table table-striped'>
    <thead>
      <tr>
        <th><%= t('bulkrax.table_header.labels.identifier') %></th>
        <th><%= t('bulkrax.table_header.labels.entry_id') %></th>
        <th><%= t('bulkrax.table_header.labels.status') %></th>
        <th><%= t('bulkrax.table_header.labels.type') %></th>
        <th><%= t('bulkrax.table_header.labels.updated_at') %></th>
        <th><%= t('bulkrax.table_header.labels.errors') %></th>
        <th><%= t('bulkrax.table_header.labels.actions') %></th>
      </tr>
    </thead>
  </table>
  <% agent = instance_variable_get("@#{controller.controller_name.singularize}") %>
  <div id='<%= "importer-entry-classes" %>' class='hidden'><%= [item.parser.entry_class.to_s,
  item.parser.collection_entry_class.to_s,         item.parser.file_set_entry_class.to_s].compact.join('|') %></div>
</div>
