<% provide :page_header do %>
  <h1><span class="fa fa-exchange" aria-hidden="true"></span> <%= t('bulkrax.field_mappings.page_title') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% if @errors.present? %>
      <div class="alert alert-danger">
        <strong><%= t('bulkrax.field_mappings.errors_heading') %></strong>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if flash[:warning].present? %>
      <div class="alert alert-warning"><%= flash[:warning] %></div>
    <% end %>

    <% if @warnings.present? %>
      <div class="alert alert-warning">
        <strong><%= t('bulkrax.field_mappings.warnings_heading') %></strong>
        <ul>
          <% @warnings.each do |warning| %>
            <li><%= warning %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Parser Tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% @parsers.each do |parser| %>
        <li class="nav-item">
          <%= link_to parser.demodulize.underscore.humanize.titleize,
                      edit_field_mappings_path(parser: parser),
                      class: "nav-link #{'active' if parser == @selected_parser}",
                      role: "tab" %>
        </li>
      <% end %>
    </ul>

    <div class="panel card panel-default" style="margin-top: 0; border-top: none;">
      <div class="panel-body card-body">
        <%= form_tag field_mappings_path, method: :patch, id: "field-mappings-form" do %>
          <%= hidden_field_tag :parser, @selected_parser %>
          <%= hidden_field_tag :full_mappings_json, @all_mappings.to_json %>

          <div class="table-responsive">
            <table class="table table-striped" id="field-mappings-table">
              <thead>
                <tr>
                  <th><%= t('bulkrax.field_mappings.field_name') %> <span class="fa fa-question-circle text-muted" data-toggle="tooltip" title="<%= t('bulkrax.field_mappings.help.field_name') %>"></span></th>
                  <th><%= t('bulkrax.field_mappings.from') %> <span class="fa fa-question-circle text-muted" data-toggle="tooltip" title="<%= t('bulkrax.field_mappings.help.from') %>"></span></th>
                  <th><%= t('bulkrax.field_mappings.split') %> <span class="fa fa-question-circle text-muted" data-toggle="tooltip" title="<%= t('bulkrax.field_mappings.help.split') %>"></span></th>
                  <th class="text-center"><%= t('bulkrax.field_mappings.generated') %> <span class="fa fa-question-circle text-muted" data-toggle="tooltip" title="<%= t('bulkrax.field_mappings.help.generated') %>"></span></th>
                  <th class="text-center"><%= t('bulkrax.field_mappings.source_id') %> <span class="fa fa-question-circle text-muted" data-toggle="tooltip" title="<%= t('bulkrax.field_mappings.help.source_id') %>"></span></th>
                  <th class="text-center"><%= t('bulkrax.field_mappings.excluded') %> <span class="fa fa-question-circle text-muted" data-toggle="tooltip" title="<%= t('bulkrax.field_mappings.help.excluded') %>"></span></th>
                  <th><%= t('bulkrax.field_mappings.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @mappings.each_with_index do |(field_name, properties), index| %>
                  <%= render 'field_row', field_name: field_name, properties: properties, index: index %>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="form-actions" style="margin-top: 15px;">
            <button type="button" class="btn btn-outline-secondary" id="add-field-btn">
              <span class="fa fa-plus"></span> <%= t('bulkrax.field_mappings.add_field') %>
            </button>
            <% if @missing_fields.present? && @selected_parser == "Bulkrax::CsvParser" %>
              <button type="button" class="btn btn-outline-primary" id="add-missing-fields-btn"
                      data-missing-fields="<%= @missing_fields.sort.to_json %>">
                <span class="fa fa-plus-circle"></span>
                <%= t('bulkrax.field_mappings.add_missing_fields', count: @missing_fields.size) %>
              </button>
            <% end %>
          </div>

          <div class="panel-footer card-footer" style="margin-top: 20px; padding-top: 15px; border-top: 1px solid #ddd;">
            <div class="float-right">
              <%= submit_tag t('bulkrax.field_mappings.save'), class: "btn btn-primary" %>
              <%= link_to t('bulkrax.field_mappings.reset_to_defaults'),
                          edit_field_mappings_path(parser: @selected_parser, reset: true),
                          class: "btn btn-warning",
                          data: { confirm: t('bulkrax.field_mappings.reset_confirm',
                                             parser: @selected_parser.demodulize.underscore.humanize) } %>
            </div>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Template row for JS cloning -->
<template id="field-row-template">
  <%= render 'field_row', field_name: '', properties: {}, index: '__INDEX__' %>
</template>
