<li class="h5 nav-item"><%= t('hyrax.admin.sidebar.repository_objects') %></li>

<%= menu.nav_link(hyrax.my_collections_path,
                  class: "nav-link",
                  onclick: "dontChangeAccordion(event);",
                  also_active_for: hyrax.dashboard_collections_path,
                  alt: t('hyrax.admin.sidebar.collections'),
                  title: t('hyrax.admin.sidebar.collections')) do %>
  <span class="fa fa-folder-open" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.collections') %></span>
<% end %>

<%= menu.nav_link(hyrax.my_works_path,
                  class: "nav-link",
                  onclick: "dontChangeAccordion(event);",
                  also_active_for: hyrax.dashboard_works_path,
                  alt: t('hyrax.admin.sidebar.works'),
                  title: t('hyrax.admin.sidebar.works')) do %>
  <span class="fa fa-file" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.works') %></span>
<% end %>

<% if ::Hyrax::DashboardController&.respond_to?(:sidebar_partials) %>
  <%= render 'hyrax/dashboard/sidebar/menu_partials', menu: menu, section: :repository_content %>
<% else %>
  <% if current_ability.can_import_works? %>
    <%= menu.nav_link(bulkrax.importers_path) do %>
      <span class="fa fa-cloud-upload" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('bulkrax.admin.sidebar.importers') %></span>
    <% end %>
  <% end %>
  <% if current_ability.can_export_works? %>
    <%= menu.nav_link(bulkrax.exporters_path) do %>
      <span class="fa fa-cloud-download" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('bulkrax.admin.sidebar.exporters') %></span>
    <% end %>
  <% end %>
<% end %>
