<p id="notice"><%= notice %></p>

<p>
  <strong><% t('bulkrax.exporter.labels.name') %></strong>
  <%= @exporter.name %>
</p>

<p>
  <strong><% t('bulkrax.exporter.labels.export_type') %></strong>
  <%= @exporter.export_type %>
</p>

<p>
  <strong><% t('bulkrax.exporter.labels.export_from') %></strong>
  <%= @exporter.export_from %>
</p>

<p>
  <strong><% t('bulkrax.exporter.labels.export_source') %></strong>
  <%= @exporter.export_source %>
</p>

<p>
  <strong><% t('bulkrax.exporter.labels.parser_klass') %></strong>
  <%= @exporter.parser_klass %>
</p>

<p>
  <strong><% t('bulkrax.exporter.labels.limit') %></strong>
  <%= @exporter.limit %>
</p>

<p>
  <strong><% t('bulkrax.exporter.labels.field_mapping') %></strong>
  <%= @exporter.field_mapping %>
</p>

<%= link_to 'Edit', edit_exporter_path(@exporter) %> |
<%= link_to 'Back', exporters_path %>
