<div class='csv_fields'>
  <%= fi.input :visibility,
    label: 'Default Visibility',
    collection: [
      ['Public', 'open'],
      ['Private', 'restricted'],
      ['Institution', 'authenticated']
    ],
    selected: importer.parser_fields['visibility'] || 'open',
    input_html: { class: 'form-control' },
    hint: 'If your CSV includes the visibility field, it will override the default setting.'
  %>
  <% if defined?(::Hyrax) %>
    <% rights_statements = Hyrax.config.rights_statement_service_class.new %>
    <%= fi.input :rights_statement,
          collection: rights_statements.select_active_options,
          selected: importer.parser_fields['rights_statement'],
          include_blank: true,
          item_helper: rights_statements.method(:include_current_value),
          input_html: { class: 'form-control' },
          required: false
          %>
    <%= fi.input :override_rights_statement, as: :boolean, hint: 'If checked, always use the selected rights statment. If unchecked, use rights or rights_statement from the record and only use the provided value if dc:rights is blank.', input_html: { checked: (importer.parser_fields['override_rights_statement'] == "1") } %>
  <% end %>
  <h4>Add CSV or ZIP File to Import:</h4>
  <%# accept a single file upload; data files and bags will need to be added another way %>
  <% file_style_list = ['Upload a File', 'Specify a Path on the Server'] %>
  <% file_style_list << 'Existing Entries' unless importer.new_record? %>
  <%= fi.input :file_style, collection: file_style_list, as: :radio_buttons, label: false %>
  
  <div id='file_upload'>
    <% if defined?(::Hyrax) %>
      <div id="fileupload-bulkrax">
        <noscript><input type="hidden" name="redirect" value="<%= main_app.root_path %>" /></noscript>
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        <div class="fileupload-buttonbar">
          <div class="row">
            <div class="col-12">
              <div class="fileinput-button" id="add-files">
                <input id="addfiles" type="file" style="display:none;" name="files[]" accept="text/csv,application/zip,application/gzip" />
                <button type="button" class="btn btn-success" onclick="document.getElementById('addfiles').click();">
                  <span class="fa fa-plus"></span>
                  <span>Add Files</span>
                </button>
              </div>
              <button type="reset" id="file-upload-cancel-btn" class="btn btn-warning cancel">
                <span class="fa fa-ban"></span>
                <span>Cancel Upload</span>
              </button>
              <span class="fileupload-process"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="fileupload-progress fade">
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:0%;"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropzone">
          Drop files here to upload
        </div>
      </div>
      <%= render 'hyrax/uploads/js_templates' %>
    <% else %>
      <%= fi.input 'file', as: :file, input_html: { accept: 'text/csv,application/zip,application/gzip' } %><br />
    <% end %>
  </div>
  
  <div id='file_path'>
    <%= fi.input :import_file_path, as: :string, input_html: { value: importer.parser_fields['import_file_path'] } %>
  </div>
  
  <div id='existing_options'>
    <%= fi.collection_check_boxes :entry_statuses, [['Failed'], ['Pending'], ['Skipped'], ['Deleted'], ['Complete']], :first, :first %>
  </div>
  
  <% if defined?(::Hyrax) && Hyrax.config.browse_everything? %>
    <h4>Add Files to Import:</h4>
    <p>Choose files to upload. The filenames must be unique, and the filenames must be referenced in a column called 'file' in the accompanying CSV file.</p>
    <%= render 'browse_everything', form: form %>
  <% end %>
  <br />
</div>