<div class="modal fade" id="bulkraxModal" tabindex="-1" role="dialog" aria-labelledby="bulkraxModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5><%= t('bulkrax.importer.edit_form.modal_title') %></h5>
        <hr />

        <% if @importer.importer_runs.blank? %>
          <p><%= t('bulkrax.importer.edit_form.update_only_hint') %></p>
          <%= form.button :submit, value: t('helpers.action.importer.update'), class: 'btn btn-primary' %>
          <hr />
          <p><%= t('bulkrax.importer.edit_form.update_and_import_hint') %></p>
          <%= form.button :submit, value: t('helpers.action.importer.update_and_import'), class: 'btn btn-primary' %>
        <% elsif @importer.parser_klass.include?('Oai') %>
          <p><%= t('bulkrax.importer.edit_form.update_only_no_update_hint') %></p>
            <%= form.button :submit, value: t('helpers.action.importer.update'), class: 'btn btn-primary' %>
          <hr />
          <p><%= t('bulkrax.importer.edit_form.update_and_harvest_hint') %></p>
            <%= form.button :submit, value: t('helpers.action.importer.update_and_harvest_updated'), class: 'btn btn-primary' %>
          <hr />
          <p><%= t('bulkrax.importer.edit_form.update_and_re_harvest_hint') %></p>
            <%= form.button :submit, value: t('helpers.action.importer.update_and_re_harvest'), class: 'btn btn-primary' %>
        <% else %>
          <p><%= t('bulkrax.importer.edit_form.update_only_no_update_hint') %></p>
            <%= form.button :submit, value: t('helpers.action.importer.update'), class: 'btn btn-primary' %>
          <hr />
          <p><%= t('bulkrax.importer.edit_form.update_metadata_hint') %></p>
            <%= form.button :submit, value: t('helpers.action.importer.update_metadata'), class: 'btn btn-primary' %>
          <hr />
          <p><%= t('bulkrax.importer.edit_form.update_metadata_and_files_hint') %></p>
            <%= form.button :submit, value: t('helpers.action.importer.update_metadata_and_files'), class: 'btn btn-primary' %>
          <hr />
          <p><%= t('bulkrax.importer.edit_form.update_and_replace_files_hint') %></p>
          <%= form.button :submit,
                          value: t('helpers.action.importer.update_and_replace_files'),
                          class: 'btn btn-primary',
                  data: {confirm: t('helpers.action.importer.update_and_replace_files_confirm')} %>
          <hr />
          <p><%= t('bulkrax.importer.edit_form.remove_and_rerun_hint') %></p>
          <%= form.button :submit,
                  value: t('helpers.action.importer.remove_and_rerun'),
                  class: 'btn btn-primary',
                  data: {confirm: t('helpers.action.importer.remove_and_rerun_confirm')} %>

        <% end %>
        <hr />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.action.cancel') %></button>
      </div>
    </div>
  </div>
</div>
