<div class="panel-body">
  <% if importer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(importer.errors.count, "error") %> prohibited this importer from being saved:</h2>

      <ul>
        <% importer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>

  <%= form.input :admin_set_id, collection: available_admin_sets %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.input :frequency, collection: form.object.frequency_enums %>

  <%= form.input :limit, as: :integer, hint: 'leave blank or 0 for all records' %>

  <%= form.input :parser_klass, collection: [["OAI - Dublin Core", "Bulkrax::OaiDcParser"], ["OAI - Qualified Dublin Core", "Bulkrax::OaiQualifiedDcParser"], ["OAI - Princeton Theological Commons", "Bulkrax::OaiPtcParser"], ["CDRI Xml File", "Bulkrax::CdriParser"]], label: "Parser" %>

  <%= form.fields_for :parser_fields do |fi| %>
    <div class='parser_fields'>
      <p>Specific fields for each parser are available only when a parser is selected</p>
      <div class='oai_fields'>
        <%= fi.input :base_url, as: :string, input_html: { value: importer.parser_fields['base_url'] } %>
        <%= fi.input :metadata_prefix, as: :string, hint: 'Such as oai_dc, dcterms or oai_qdc', input_html: { value: importer.parser_fields['metadata_prefix'] } %>
        <%= fi.input :set, collection: [importer.parser_fields['set']], label: 'Set (source)', selected: importer.parser_fields['set'] %>
        <button type="button" class="btn btn-default refresh-set-source">Refresh Sets</button>

        <%= fi.input :institution_name, as: :string, input_html: { value: importer.parser_fields['institution_name'] } %>
        <% rights_statements = Hyrax.config.rights_statement_service_class.new %>
        <%= fi.input :rights_statement,
        collection: rights_statements.select_active_options,
        selected: importer.parser_fields['rights_statement'],
        include_blank: true,
        item_helper: rights_statements.method(:include_current_value),
        input_html: { class: 'form-control' } %>
        <%= fi.input :thumbnail_url, as: :string, input_html: { value: importer.parser_fields['thumbnail_url'] } %>
        <div class="help-block well well-sm">
          <p>
            The Thumbnail URL allows for basic templating and substitution on any identified information in to the url. For example:
          </p>

          <p>
            http://commons.ptsem.edu/?cover=<&#37= identifier.split(':').last &#37>&size=L
          </p>

          <p>
            http://commons.ptsem.edu/?cover=<&#37= record.header.identifier.split(':').last &#37>&size=L
          </p>
        </div>
      </div>
      <div class='cdri_fields'>
        <%= fi.input :xml_path, as: :string, input_html: { value: importer.parser_fields['xml_path'] } %>
        <%= fi.input :upload_path, as: :string, input_html: { value: importer.parser_fields['upload_path'] } %>
        <%= fi.input :institution_name, as: :string, input_html: { value: importer.parser_fields['institution_name'] } %>
        <% rights_statements = Hyrax.config.rights_statement_service_class.new %>
        <%= fi.input :rights_statement,
        collection: rights_statements.select_active_options,
        selected: importer.parser_fields['rights_statement'],
        include_blank: true,
        item_helper: rights_statements.method(:include_current_value),
        input_html: { class: 'form-control' } %>
      </div>
    </div>
  <% end %>

</div>
