<% provide :page_header do %>
  <h1><span class="fa fa-edit" aria-hidden="true"></span> <%= t('helpers.action.importer.edit_importer') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel card panel-default importer-form">

      <%= simple_form_for @importer, html: { multipart: true } do |form| %>
        <%= render 'form', importer: @importer, form: form %>
        <div class="panel-footer card-footer bulkrax-card-footer">
          <div class='pull-right'>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bulkraxModal">
              <%= t('helpers.action.importer.update') %>
            </button>
            <%= render 'edit_form_buttons', form: form %>
           <% cancel_path = form.object.persisted? ? importer_path(form.object) : importers_path %>
            | <%= link_to t('bulkrax.cancel'), cancel_path, class: 'btn btn-default ' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
