<% provide :page_header do %>
  <h1><span class="fa fa-edit" aria-hidden="true"></span> New Importer</h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default tabs">
      <%= simple_form_for @importer, html: { multipart: true } do |form| %>
        <%= render 'form', importer: @importer, form: form %>
        <div class="panel-footer">
          <div class='pull-right'>
            <%= form.button :submit, value: 'Create and Validate', class: 'btn btn-primary' %>
            |
            <%= form.button :submit, value: 'Create and Import', class: 'btn btn-primary' %>
            |
            <% cancel_path = form.object.persisted? ? importer_path(form.object) : importers_path %>
            <%= link_to t('.cancel'), cancel_path, class: 'btn btn-default ' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
