<div class="col-xs-12 main-header">
  <h1><span class="fa fa-cloud-upload" aria-hidden="true"></span> Importer: <%= @importer.name %></h1>
  <% if @importer.parser_klass == 'Bulkrax::CsvParser' %>
    <div class="pull-right">
      <button type="button" class="btn btn-primary">Export Errored Entries</button>
      <button type="button" class="btn btn-primary">Upload Corrected Entries</button>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @importer.name %>
    </p>

    <p>
      <strong>Admin set:</strong>
      <%= @importer.admin_set_id %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @importer.user %>
    </p>

    <p>
      <strong>Frequency:</strong>
      <%= @importer.frequency %>
    </p>

    <p>
      <strong>Parser klass:</strong>
      <%= @importer.parser_klass %>
    </p>

    <p>
      <strong>Limit:</strong>
      <%= @importer.limit %>
    </p>

    <p>
      <strong>Parser fields:</strong><br />
      <% @importer.parser_fields.each do |key,value| %>
        <%= key %>: <%= value %> <br />
      <% end %>
    </p>

    <p>
      <strong>Field mapping:</strong><br />
      <% @importer.field_mapping.each do |key,value| %>
        <%= key %>: <%= value %> <br />
      <% end %>
    </p>

    <p>
      <strong>Total Works:</strong>
      <%= @importer.importer_runs.last&.total_work_entries %>
    </p>

    <p>
      <strong>Total Collections:</strong>
      <%= @importer.importer_runs.last&.total_collection_entries %>
    </p>
    <br />
    <h2>Collection Entries</h2>
    <%# TODO add entry info and paginate it here %>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Entry ID</th>
          <th>Status</th>
          <th>Errors</th>
          <th>Status Set At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @collection_entries.each do |e| %>
          <tr>
            <td><%= link_to e.identifier, bulkrax.importer_entry_path(@importer.id, e.id) %></td>
            <td><%= e.id %></td>
            <% if e.status == "succeeded" %>
              <td><span class="glyphicon glyphicon-ok" style="color: green;"></span> <%= e.status %></td>
              <% else %>
              <td><span class="glyphicon glyphicon-remove" style="color: red;"></span> <%= e.status %></td>
            <% end %>
            <% if e.last_error.present? %>
              <td><%= link_to e.last_error.dig("error_class"), bulkrax.importer_entry_path(@importer.id, e.id) %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= e.status_at %></td>
            <td><%= link_to raw('<span class="glyphicon glyphicon-info-sign"></span>'), bulkrax.importer_entry_path(@importer.id, e.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= page_entries_info(@collection_entries, param_name: :collections_entries_page) %><br />
    <%= paginate(@collection_entries, param_name: :collections_entries_page) %>

    <br />
    <h2>Work Entries</h2>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Collection</th>
          <th>Entry ID</th>
          <th>Status</th>
          <th>Errors</th>
          <th>Status Set At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @work_entries.each do |e| %>
          <tr>
            <td><%= link_to e.identifier, bulkrax.importer_entry_path(@importer.id, e.id) %></td>
            <% if e.parsed_metadata.present? && e.parsed_metadata.dig("collections").present? %>
              <td><%= e.parsed_metadata.dig("collections").map {|c| c['id'] }.join('; ') %></td>
            <% elsif e.raw_metadata.present? %>
              <td><%= Array.wrap(e.raw_metadata.dig("collection")).join(';') %></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= e.id %></td>
            <% if e.status == "succeeded" %>
              <td><span class="glyphicon glyphicon-ok" style="color: green;"></span> <%= e.status %></td>
              <% else %>
              <td><span class="glyphicon glyphicon-remove" style="color: red;"></span> <%= e.status %></td>
            <% end %>
            <% if e.last_error.present? %>
              <td><%= link_to e.last_error.dig("error_class"), bulkrax.importer_entry_path(@importer.id, e.id) %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= e.status_at %></td>
            <td><%= link_to raw('<span class="glyphicon glyphicon-info-sign"></span>'), bulkrax.importer_entry_path(@importer.id, e.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= page_entries_info(@work_entries, param_name: :collections_entries_page) %><br />
    <%= paginate(@work_entries, param_name: :work_entries_page) %>
    <br />
    <%= link_to 'Edit', edit_importer_path(@importer) %> |
    <%= link_to 'Back', importers_path %>

  </div>
</div>
