<div class="col-xs-12 main-header">
  <h1><span class="fa fa-cloud-upload" aria-hidden="true"></span> Importer: <%= @importer.name %></h1>
  <% if @importer.parser_klass == 'Bulkrax::CsvParser' && @work_entries.map { |e| e.status == 'failed' }.any? %>
    <div class="pull-right">
      <%= link_to 'Export Errored Entries', importer_export_errors_path(@importer.id), class: 'btn btn-primary' %>
      <%= link_to 'Upload Corrected Entries', importer_upload_corrected_entries_path(@importer.id), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <p>
      <strong>Name:</strong>
      <%= @importer.name %>
    </p>

    <p>
      <strong>Admin set:</strong>
      <%= @importer.admin_set_id %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @importer.user %>
    </p>

    <p>
      <strong>Frequency:</strong>
      <%= @importer.frequency %>
    </p>

    <p>
      <strong>Parser klass:</strong>
      <%= @importer.parser_klass %>
    </p>

    <p>
      <strong>Limit:</strong>
      <%= @importer.limit %>
    </p>

    <p>
      <% if @importer.last_error.present? %>
        <strong>Errored at:</strong> <%= @importer.last_error_at %><br />
        <strong>Error:</strong> <%= @importer.last_error['error_class'] %> - <%= @importer.last_error['error_message'] %><br />
        <strong>Error Trace:</strong> <button id='err_toggle'>Toggle</button><br>
        <span id='error_trace' style='display: none'><%= @importer.last_error['error_trace'] %></span>
      <% elsif @importer.last_succeeded_at.present?  %>
        <strong>Succeeded At:</strong> <%= @importer.last_succeeded_at %>
      <% end %>
    </p>

    <p>
      <strong>Parser fields:</strong><br />
      <% @importer.parser_fields.each do |key,value| %>
        <%= key %>: <%= value %> <br />
      <% end %>
    </p>

    <p>
      <strong>Field mapping:</strong>
      <% if @importer.field_mapping.present? %>
        <button id='fm_toggle'>Toggle</button><br>
        <span id='field_mapping' style='display: none'>
          <% @importer.field_mapping.each do |k, v| %>
            <%= k %>: <%= v %><br>
          <% end %>
        </span>
      <% end %>
    </p>

    <p>
      <strong>Total Works:</strong>
      <%= @importer.importer_runs.last&.total_work_entries %>
    </p>

    <p>
      <strong>Total Collections:</strong>
      <%= @importer.importer_runs.last&.total_collection_entries %>
    </p>

    <br />

    <h2>Collection Entries</h2>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Entry ID</th>
          <th>Status</th>
          <th>Errors</th>
          <th>Status Set At</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @collection_entries.each do |e| %>
          <tr>
            <td><%= link_to e.identifier, bulkrax.importer_entry_path(@importer.id, e.id) %></td>
            <td><%= e.id %></td>
            <% if e.status == "succeeded" %>
              <td><span class="glyphicon glyphicon-ok" style="color: green;"></span> <%= e.status %></td>
              <% else %>
              <td><span class="glyphicon glyphicon-remove" style="color: red;"></span> <%= e.status %></td>
            <% end %>
            <% if e.last_error.present? %>
              <td><%= link_to e.last_error.dig("error_class"), bulkrax.importer_entry_path(@importer.id, e.id) %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= e.status_at %></td>
            <td><%= link_to raw('<span class="glyphicon glyphicon-info-sign"></span>'), bulkrax.importer_entry_path(@importer.id, e.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= page_entries_info(@collection_entries) %><br />
    <%= paginate(@collection_entries, param_name: :collections_entries_page) %>

    <br />

    <h2>Work Entries</h2>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Collection</th>
          <th>Entry ID</th>
          <th>Status</th>
          <th>Errors</th>
          <th>Status Set At</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @work_entries.each do |e| %>
          <tr>
            <td><%= link_to e.identifier, bulkrax.importer_entry_path(@importer.id, e.id) %></td>
            <% if e.parsed_metadata.present? && e.parsed_metadata.dig("collections").present? %>
              <td><%= e.parsed_metadata.dig("collections").map {|c| c['id'] }.join('; ') %></td>
            <% elsif e.raw_metadata.present? %>
              <td><%= Array.wrap(e.raw_metadata.dig("collection")).join(';') %></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= e.id %></td>
            <% if e.status == "succeeded" %>
              <td><span class="glyphicon glyphicon-ok" style="color: green;"></span> <%= e.status %></td>
              <% else %>
              <td><span class="glyphicon glyphicon-remove" style="color: red;"></span> <%= e.status %></td>
            <% end %>
            <% if e.last_error.present? %>
              <td><%= link_to e.last_error.dig("error_class"), bulkrax.importer_entry_path(@importer.id, e.id) %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= e.status_at %></td>
            <td><%= link_to raw('<span class="glyphicon glyphicon-info-sign"></span>'), bulkrax.importer_entry_path(@importer.id, e.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= page_entries_info(@work_entries) %><br />
    <%= paginate(@work_entries, param_name: :work_entries_page) %>

    <br />

    <%= link_to 'Edit', edit_importer_path(@importer) %>
    |
    <%= link_to 'Back', importers_path %><br /><br />

    <% if @importer.validate_only == true %>
      <div class='pull-left'>
        <%= button_to 'Continue', importer_continue_path(@importer), method: :put, class: 'btn btn-primary' %>
      </div>
      <div class='pull-right'>
        <%= button_to 'Discard', @importer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
