<h1><span class="fa fa-cloud-upload" aria-hidden="true"></span> Importer: <%= @importer.name %></h1>

<div class="panel panel-default">
  <div class="panel-body">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @importer.name %>
    </p>

    <p>
      <strong>Admin set:</strong>
      <%= @importer.admin_set_id %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @importer.user %>
    </p>

    <p>
      <strong>Frequency:</strong>
      <%= @importer.frequency %>
    </p>

    <p>
      <strong>Parser klass:</strong>
      <%= @importer.parser_klass %>
    </p>

    <p>
      <strong>Limit:</strong>
      <%= @importer.limit %>
    </p>

    <p>
      <strong>Parser fields:</strong>
      <%= @importer.parser_fields %>
    </p>

    <p>
      <strong>Field mapping:</strong>
      <%= @importer.field_mapping %>
    </p>
    <br />
    <h2>Collection Entries</h2>
    <%# TODO add entry info and paginate it here %>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Entry ID</th>
          <th>Status</th>
          <th>Status Set At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% collection_entries = @importer.entries.select {|e| e.type == @importer.parser.collection_entry_class.to_s } %>
        <% collection_entries.each do |e| %>
          <tr>
            <td><%= e.identifier %></td>
            <td><%= e.id %></td>
            <% if e.status == "succeeded" %>
              <td><span class="glyphicon glyphicon-ok" style="color: green;"></span> <%= e.status %></td>
              <% else %>
              <td><span class="glyphicon glyphicon-remove" style="color: red;"></span> <%= e.status %></td>
            <% end %>
            <td><%= e.status_at %></td>
            <td>TODO: Actions</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />
    <h2>Work Entries</h2>
    <%# TODO add entry info and paginate it here %>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Collection</th>
          <th>Row #</th>
          <th>Entry ID</th>
          <th>Status</th>
          <th>Status Set At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% work_entries = @importer.entries.select {|e| e.type == @importer.parser.entry_class.to_s } %>
        <% work_entries.each do |e| %>
          <tr>
            <td><%= e.identifier %></td>
            <td><%= e.raw_metadata.dig("collection") %></td>
            <td>Row #</td>
            <td><%= e.id %></td>
            <% if e.status == "succeeded" %>
              <td><span class="glyphicon glyphicon-ok" style="color: green;"></span> <%= e.status %></td>
              <% else %>
              <td><span class="glyphicon glyphicon-remove" style="color: red;"></span> <%= e.status %></td>
            <% end %>
            <td><%= e.status_at %></td>
            <td>TODO: Actions</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_importer_path(@importer) %> |
    <%= link_to 'Back', importers_path %>

  </div>
</div>
