<div class="col-xs-12 main-header">
  <h1><span class="fa fa-cloud-upload" aria-hidden="true"></span> Upload Corrected Entries: <%= @importer.name %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <p>
    Upload <b>only</b> the corrected entries for the <b><%= @importer.name %></b> importer. To export failed entries for correction,
    <%= link_to "click here <span class='glyphicon glyphicon-download-alt'></span>".html_safe, importer_export_errors_path(@importer.id) %>
    </p>
    <p>Only CSV files are allowed.</p>

    <%= simple_form_for @importer, url: importer_upload_corrected_entries_file_path, method: :post, html: { multipart: true } do |f| %>
      <%= f.fields_for :parser_fields do |fi| %>
        <div class='parser_fields'>
          <div class="fileupload-buttonbar hide-required-tag">
            <%= fi.input 'file',
              as: :file,
              label: raw("<span class='glyphicon glyphicon-plus'></span><span> Add file...</span>"),
              label_html: {
                class: 'btn btn-success'
              },
              input_html: {
                style: 'display:none;',
                accept: 'text/csv'
              } %>
          </div>
        </div>
      <% end %>
      <div class="pull-right">
        <%= f.button :submit, 'Import Corrected Works', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
