<div class="panel panel-default">
  <div class="panel-body">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Identifier:</strong>
      <%= @entry.identifier %>
    </p>

    <p>
      <strong>Entry ID:</strong>
      <%= @entry.id %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @entry.factory_class %>
    </p>

    <p>
      <strong>Raw Metadata:</strong><br />
      <% if @entry.raw_metadata.present? %>
        <% @entry.raw_metadata.each do |key,value| %>
          <%= key %>: <%= value %> <br />
        <% end %>
      <% end %>
    </p>

    <p>
      <strong>Parsed Metadata:</strong><br />
      <% if @entry.parsed_metadata.present? %>
        <% @entry.parsed_metadata.each do |key,value| %>
          <%= key %>: <%= value %> <br />
        <% end %>
      <% end %>
    </p>

    <p>
      <% if @entry.last_error.present? %>
        <strong>Errored at:</strong> <%= @entry.last_error_at %><br />
        <strong>Error:</strong> <%= @entry.last_error['error_class'] %> - <%= @entry.last_error['error_message'] %><br />
        <strong>Error Trace: </strong> <button id="entry_error">Toggle</button>
        <p id="error_trace" style="display: none"><%= @entry.last_error['error_trace'] %></p>
      <% else %>
        <strong>Succeeded At:</strong> <%= @entry.last_succeeded_at %>
      <% end %>
    </p>

    <%# TODO: i18n %>
    <p>
      <% if @importer.present? %>
        <% if @entry.last_succeeded_at != nil %>
          <strong>Importer:</strong>
          <%= link_to @importer.name, importer_path(@importer) %>
        <% else %>
          <strong>Importer Link: Item has not been imported successfully</strong>
        <% end %>
      <% elsif @exporter.present? %>
        <% if @entry.last_succeeded_at != nil %>
          <strong>Exporter:</strong>
          <%= link_to @exporter.name, exporter_path(@exporter) %>
        <% else %>
          <strong>Exporter Link: Item has not been exported successfully</strong>
        <% end %>
      <% end %>
    </p>

    <%# TODO: Exporter equivalent? %>
    <% if @importer.present? %>
      <p>
        <% factory_record = @entry.factory.find %>
        <% if @entry.last_succeeded_at != nil && factory_record.present? %>
          <strong><%= @entry.factory_class.to_s %> Link:</strong>
          <% if @entry.factory_class.to_s == "Collection" %>
            <%= link_to @entry.factory_class.to_s, hyrax.polymorphic_path(@entry.factory.find) %>
          <% else %>
            <%= link_to @entry.factory_class.to_s, main_app.polymorphic_path(@entry.factory.find) %>
          <% end %>
        <% else %>
          <strong> Item Link: Item has not been imported successfully</strong>
        <% end %>
      </p>
    <% end %>
