<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">

    <%# TODO: i18n %>
    <p>
      <strong>Identifier:</strong>
      <%= @entry.identifier %>
    </p>

    <p>
      <strong>Entry ID:</strong>
      <%= @entry.id %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @entry.factory_class %>
    </p>

    <p>
      <strong>Raw Metadata:</strong>
      <% if @entry.raw_metadata.present? %>
        <button id='raw_button'>Toggle</button><br>
        <span id='raw_metadata' style='display: none'>
          <% @entry.raw_metadata.each do |k, v| %>
            <%= k %>: <%= v %><br>
          <% end %>
        </span>
      <% end %>
    </p>

    <p>
      <strong>Parsed Metadata:</strong>
      <% if @entry.parsed_metadata.present? %>
        <button id='parsed_button'>Toggle</button><br>
        <span id='parsed_metadata' style='display: none'>
          <% @entry.parsed_metadata.each do |k, v| %>
            <%= k %>: <%= v %><br>
          <% end %>
        </span>
      <% end %>
    </p>

    <%# Consider spliting dynamic fields into two partials %>

    <p>
      <% if @entry.last_error.present? %>
        <strong>Errored at:</strong> <%= @entry.last_error_at %><br />
        <strong>Error:</strong> <%= @entry.last_error['error_class'] %> - <%= @entry.last_error['error_message'] %><br />
        <strong>Error Trace: </strong> <button id="entry_error">Toggle</button>
        <p id="error_trace" style="display: none"><%= @entry.last_error['error_trace'] %></p>
      <% elsif @entry.last_succeeded_at != nil %>
        <strong>Succeeded At:</strong> <%= @entry.last_succeeded_at %>
      <% else %>
        <strong>Succeeded At:</strong> Item has not been <%= @importer.present? ? 'imported' : 'exported' %> successfully
      <% end %>
    </p>

    <p>
      <% if @importer.present? %>
        <strong>Importer:</strong>
        <%= link_to @importer.name, importer_path(@importer) %>
      <% elsif @exporter.present? %>
        <strong>Exporter:</strong>
        <%= link_to @exporter.name, exporter_path(@exporter) %>
      <% end %>
    </p>

    <p>
      <% if @importer.present? %>
        <% factory_record = @entry.factory.find %>
        <% if @entry.last_succeeded_at != nil && factory_record.present? %>
          <strong><%= @entry.factory_class.to_s %> Link:</strong>
          <% if @entry.factory_class.to_s == 'Collection' %>
            <%= link_to @entry.factory_class.to_s, hyrax.polymorphic_path(factory_record) %>
          <% else %>
            <%= link_to @entry.factory_class.to_s, main_app.polymorphic_path(factory_record) %>
          <% end %>
        <% else %>
          <strong>Item Link:</strong> Item has not been imported successfully
        <% end %>
      <% else %>
        <% record = @entry&.hyrax_record %>
        <% if record.present? %>
          <strong><%= record.class.to_s %> Link:</strong>
          <% if record.is_a?(Collection) %>
            <%= link_to record.class.to_s, hyrax.polymorphic_path(record) %>
          <% else %>
            <%= link_to record.class.to_s, main_app.polymorphic_path(record) %>
          <% end %>
        <% else %>
          <strong>Item Link:</strong> No item associated with this entry
        <% end %>
      <% end %>
    </p>
  </div>
</div>
